* {
  margin: 0;
  color: #f9f9f9de;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
}

.logo-container {
  flex: 1;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.avatar-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.avatar-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chevron-down {
  color: white;
}

/* main page */

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feat-title {
  width: 400px;
}

.feat-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
  text-decoration: none;
}

.featured-button {
  display: flex;
  align-items: center;
}

.feat-btn-mulai {
  margin-right: 20px;
  background-color: #2300bf;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 700;
}

.feat-btn-full {
  margin-right: 20px;
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 700;
  text-indent: 0.5px;
  letter-spacing: 0.5px;
}

.feat-btn-full i {
  height: 10px;
}

.info {
  display: block;
  height: 18px;
}

.feat-btn-18 {
  background-color: #212121;
  color: white;
  padding: 10px 10px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-weight: 700;
}

.btn-vol-cont {
  margin-left: 250px;
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-weight: 700;
}

.footer1 {
  margin: 40px;
}
